/* ОТСТУПЫ */
.azkar-list {
  padding: 20px;
}

/* КАРТОЧКА */
.azkar-card {
  background: #2a1f18;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
}

/* АРАБСКИЙ */
.arabic-text {
  font-size: 26px;
  line-height: 2;
  text-align: right;
  margin-bottom: 15px;
}

/* ТРАНСКРИПЦИЯ */
.transcription-text {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 10px;
}

/* ПЕРЕВОД */
.translation-text {
  font-size: 16px;
  margin-bottom: 20px;
}

/* СЧЁТЧИК */
.tasbih-box {
  text-align: center;
  margin-top: 15px;
}

.progress-ring {
  width: 120px;
  height: 120px;
}

.ring-bg {
  fill: none;
  stroke: #444;
  stroke-width: 8;
}

.ring-fill {
  fill: none;
  stroke: #f5c16c;
  stroke-width: 8;
  stroke-dasharray: 326;
  stroke-dashoffset: 326;
  transition: 0.3s;
}

.progress-center {
  position: relative;
  top: -85px;
  font-size: 20px;
}

/* КНОПКИ */
.count-btn {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background: #f5c16c;
  color: #000;
  font-weight: bold;
}
